<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#unless devoured}}Devoured...{{else}}Devour it!{{/unless}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>